body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  background-image: url(Imagenes/img8.png);
  display: flex;
}
.Prueba {
  width: 700px;
  height: 250px;
  display: flex;
  background: white;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
}

img {
  width: 400px;
}
.perfil {
  width: auto;
  height: 100%;
  border-radius: 15px 15px 15px 15px;
}
.info {
  margin-left: 4rem;
  justify-content: center;
}
.info img {
  width: 10%;
  height: 20%;
}
.info h1 {
  font-size: 20px;
  display: flex;
  justify-self: flex-end;
  font-family: Segoe UI;
  color: #1762ff;
}
.info h3 {
  font-size: 20px;
}
.info h2 {
  font-size: 15px;
  color: grey;
  font-family: Segoe UI;
}
.proyectos {
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  width: 600px;
}
.contenedor {
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
}
.proyectos h1 {
  text-align: left;
}
.proyectos img {
  width: 20px;
  height: 20px;
  margin: 2px;
}

.saludo {
 
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 15px 15px 0px 0px;
  margin-top: auto;
  margin-bottom: auto;
}

.saludo h1 {
  color: white;
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 15px;
  border-top: 10px;
  font-family: Segoe UI;
}
.cuadro-perfil {
  display: flex;
  align-self: flex-end;
  justify-content: center;
}
.proyectos-h {
  background-color: #1762ff;
  border-radius: 15px 15px 0px 0px;
  color: white;
  display: flex;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 50px;
  font-family: Segoe UI;
  align-content: flex-start;
}
.proyectos p {
  font-family: Segoe UI;
}

.proyecto1 {
  display: flex;
  
}
.proyecto1 {
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  font-family:Segoe UI;
 
}


.primera-barra h1{
  font-size: 13px;
}

.bar1{
  background:#C2C2C2;
  width: 300px;
  height: 20px;
  border-radius: 10px;
}
.bar2{
  background:#1762ff;
  width: 240px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  
}
.segunda-barra h1{
  font-size: 13px;
}
.bar3{
  background:#C2C2C2;
  width: 300px;
  height: 20px;
  border-radius: 10px;
}
.bar4{
  background:#1762ff;
  width: 270px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  
}
.tercera-barra h1{
  font-size: 13px;
}
.bar5{
  background:#C2C2C2;
  width: 300px;
  height: 20px;
  border-radius: 10px;
}
.bar6{
  background:#1762ff;
  width: 285px;
  height: 20px;
  border-radius: 10px;
   display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  
  
}
.cuarta-barra h1{
  font-size: 13px;
}
.bar7{
  background:#C2C2C2;
  width: 300px;
  height: 20px;
  border-radius: 10px;
}
.bar8{
  background:#1762ff;
  width: 270px;
  height: 20px;
  border-radius: 10px;
   display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  
  
}
.titulo{
  font-size: 18px;
   color:#1762ff;
}
.porta{
  background-color:white;
}
.titulo1{
  font-size: 18px;
  color: #1762ff;
}
.titulo2{
  font-size:17px;
  color: #1762ff;
}
.parrafo{
  font-size: 13px;
}
.imagenes img{
  width:260px;
}



